<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image %>" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        $<%= campground.price %>/night
                    </li>

                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="card-link btn btn-info">Edit
                        Campground</a>
                    <!-- <a href="/campgrounds" class="card-link btn btn-danger">Delete Campground</a> -->
                    <form class="d-inline mx-5" action="/campgrounds/<%= campground._id %>?_method=DELETE "
                        method="POST">
                        <button type="submit" class="card-link btn btn-danger">Delete Campground</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p><a href="/campgrounds">All Campgrounds</a></p>
    </footer>